* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #fff0f7;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #ffd5e9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: "Gabarito", sans-serif;

  background-color: #8c516da6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Gabarito", sans-serif;
  padding-left: 30px;
  background-color: #8c516da6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.simulation-container {
  max-width: 600px;
  margin: 0 auto;

  background-color: #fff0f738;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.info-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-box {
  flex: 1;
  background-color: #ffffff61;
  border-radius: 8px;
  padding: 10px 10px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.info-title {
  font-size: 10px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gabarito", sans-serif;
  background-color: #8c516d8b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-text {
  font-size: 20px;
  font-family: "Gabarito", sans-serif;
  font-weight: bold;
  color: #8c516da6;
}

.seesaw-container {
  background-color: #ffffff61;
  border-radius: 20px;
  padding: 40px 15px 15px;
  min-height: 100px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.seesaw {
  margin-top: 150px;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.plank {
  border-radius: 4px;
  background-color: #984f1a;
  width: 500px;
  height: 20px;
  position: relative;
  z-index: 2;
}

.plank-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pivot-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pivot {
  border-bottom: 50px solid #9f8fe79f;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px;
  margin: 15px auto;
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 12px 24px;
  background-color: #6f6c6ea6;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-button:hover {
  background-color: #52525238;
}

.reset-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.6s ease;
}

button:active .reset-icon {
  transform: rotate(-360deg);
}

.pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 12px 24px;
  background-color: #6f6c6ea6;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pause-button:hover {
  background-color: #52525238;
}

.pause-icon {
  width: 18px;
  height: 18px;
}

.undo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 12px 24px;
  background-color: #6f6c6ea6;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.undo-button:hover {
  background-color: #52525238;
}

.undo-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}

button:active .undo-icon {
  transform: rotate(-90deg);
}

.history-container {
  background-color: #ffffff61;
  border-radius: 20px;
  min-height: 200px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.preview-line {
  position: absolute;
  width: 0;
  border-left: 2px dashed rgba(101, 76, 90, 0.5);
  pointer-events: none;
}
.preview-circle {
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  display: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: none;
}

@media (max-width: 768px) {
  .info-boxes {
    flex-direction: column;
  }

  .plank {
    width: 100%;
    max-width: 400px;
  }
}
